$big-font: 15rem;

.jumbo {
    color: #333;
    font-size: $big-font;
    margin: 0;
    text-shadow: 1px 2px 1px #DEDEDE, 2px 3px 0 #FEFEFE, -1px -1px 0 #222;
}

html {
    body {
        text-align: center;
        font-size: 36px;
        color: black;
        font-family: 'Pompiere', cursive;
        margin: auto;
        padding: auto;
        background: rgba(34,113,209,1);
        background: -moz-linear-gradient(left, rgba(34,113,209,1) 0%, rgba(34,113,209,1) 21%, rgba(37,164,220,1) 80%, rgba(38,181,224,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,113,209,1)), color-stop(21%, rgba(34,113,209,1)), color-stop(80%, rgba(37,164,220,1)), color-stop(100%, rgba(38,181,224,1)));
        background: -webkit-linear-gradient(left, rgba(34,113,209,1) 0%, rgba(34,113,209,1) 21%, rgba(37,164,220,1) 80%, rgba(38,181,224,1) 100%);
        background: -o-linear-gradient(left, rgba(34,113,209,1) 0%, rgba(34,113,209,1) 21%, rgba(37,164,220,1) 80%, rgba(38,181,224,1) 100%);
        background: -ms-linear-gradient(left, rgba(34,113,209,1) 0%, rgba(34,113,209,1) 21%, rgba(37,164,220,1) 80%, rgba(38,181,224,1) 100%);
        background: linear-gradient(to right, rgba(34,113,209,1) 0%, rgba(34,113,209,1) 21%, rgba(37,164,220,1) 80%, rgba(38,181,224,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2271d1', endColorstr='#26b5e0', GradientType=1 );
    }
    h1 {
        font-family: 'Amatic SC', cursive;
        font-size: 108px;
    }
    nav {
      display: flex;
      font-size: 24px;
      justify-content: space-around;
    }
    a {
      text-decoration: none;
      color: #fafafa;
      padding: 2px;
      border: 1px solid #fafafa;
      border-radius: 6px;
    }
    input {
      margin: 4px;
    }
}

.active {
    font-weight: bold;

}


// font-family: 'Amatic SC', cursive;
// font-family: 'Pompiere', cursive;
